@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

header {
    height: 18vh;
    padding: 20px 0;
    background-color: #FFDC64;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 150px;
    width: 150px;
    margin: 0 20px;
}

main {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    width: 300px;
    height: auto;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.card-body .form-label {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body .form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.card-body .btn {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-body .btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.card-body p {
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
}

h2 {
    margin-top: 15px;
    font-size: 26px;
}

footer {
    font-size: 25px;
    margin-top: 30px;
    width: 100%;
    padding: 20px 0;
    background-color: #1400f0;
    color: #000000;
    text-align: center;
}
